.venv/
__pycache__/
*.egg-info/
*.py[cod]
.env
data/**
!data/**/.gitkeep
models/**
!models/.gitkeep
mlruns/
reports/figures/*
!reports/figures/.gitkeep
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
